.buy-course-wrapper {
  .banner__buy-course {
    background-image: url(../images/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0 100px;
    position: relative;
    z-index: -2;
    h2 {
      color: $secondary-color;
      line-height: 30px;
      letter-spacing: 2px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 49px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: $grey-white-color;
      a {
        color: $grey-white-color;
        transition: all 0.3s;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(5, 1, 51, 0.7);
    }
  }
  .section2 {
    padding-top: 20px;
    margin-bottom: 20px;
    .box-infor {
      h3 {
        color: $secondary-color;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
      }
      p {
        font-size: 16px;
        font-weight: 500px;
        color: $secondary-color;

        padding-bottom: 10px;
      }
      input[type="text"] {
        font-size: 14px;

        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        border-radius: 8px;
        border: 1px solid;
        padding: 10px 10px;
      }
      input[type="radio"] {
        font-size: 14px;

        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;

        border-radius: 8px;
        border: 1px solid;
        padding: 10px 10px;
      }
      label {
        font-size: 14px;
        font-weight: 500px;
      }
    }
    .btn-submit {
      text-align: center;
      button {
        background-color: $secondary-color;
        border: 1px;
        width: 15%;
        height: 24px;
        color: aliceblue;
        border-radius: 8px;
      }
    }
  }
}
