.lms-wrapper {
  .banner__lms {
    background-image: url(../images/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0 100px;
    position: relative;
    z-index: -2;
    h2 {
      color: $secondary-color;
      line-height: 30px;
      letter-spacing: 2px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 49px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: $grey-white-color;
      a {
        color: $grey-white-color;
        transition: all 0.3s;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(5, 1, 51, 0.7);
    }
  }
  .section-lms {
    padding-top: 20px;
    margin-bottom: 20px;

    .box-homework {
      border-radius: 8px;
      padding: 20px 20px;
      -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
      box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
      .box-title {
        color: $secondary-color;
        line-height: 30px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 24px;
      }
      select {
        width: 100%;
        height: 3rem;
        margin-bottom: 20px;

        -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
        box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
        border-radius: 8px;
      }
      .btn-time {
        button {
          width: 100%;
          height: 3rem;
          margin-bottom: 20px;

          -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
          box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
          border-radius: 8px;
          border: solid 0px;
          text-align: left;
          .title-date {
            .txt {
              text-align: left;
            }
          }

          .numHw {
            text-align: center;
          }

          &:focus {
            background-color: $secondary-color;
          }

          .fa-chevron-up {
            display: none;
          }
          &:focus-within {
            .fa-chevron-down {
              display: none;
            }
            .fa-chevron-up {
              display: block;
            }
          }
        }

        .btn-content {
          width: 100%;
          height: 100%;

          padding-bottom: 10px;

          text-align: left;
          .content-hw-show {
            -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
            box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
            border-radius: 8px;

            margin-bottom: 20px;
          }
          .title {
            color: gray;
            line-height: 30px;
            padding-left: 20px;
            font-weight: 500;

            font-size: 16px;
          }
          .content {
            padding-left: 20px;
            color: gray;
            font-weight: 500;

            font-size: 14px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
