body {
  font-family: "Roboto", sans-serif;
}
.wrapper {
  scroll-behavior: smooth;
}

.btn-primary-custom {
  display: block;
  background-color: #ff630e;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    color: #ff630e;
    background-color: #fff;
    border: #ff630e 2px solid;
    transition: 0.3s;
  }
}
.btn-outline-secondary-custom {
  color: #ff630e;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: #ff630e 2px solid;
  &:hover {
    color: #fff;
    background-color: #ff630e;
    transition: 0.3s;
  }
}

.sidebar-wrap {
  display: none;
}
.header-mobile-content {
  display: none;
}

.section-heading {
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  color: #130f40;
  margin-bottom: 30px;
}

.testi-rating {
  i {
    color: #f0932b;
    font-size: 18px;
    margin: 10px 2px 6px;
    display: inline-block;
  }
}
